.node.male>rect {
  fill: rgb(160, 224, 229);
}

.node.female>rect {
  fill: rgb(255, 172, 186);
}

html, body{
width: 100%;
height: 100%;
padding: 0;
margin:0;
overflow: hidden;
font-family: Helvetica;
}
#tree{
width:100%;
height:100%;
}